# maven build files
ndx-spark-model/target/*
ndx-spark-pcap/target/*
ndx-spark-pshark/target/*
ndx-spark-tshark/target/*
ndx-spark-shell/target/*
ndx-spark-shell/dependency-reduced-pom.xml

# test data
ndx-spark-pcap/src/test/resources/*

# spark shell run files
metastore_db/*
derby.log

# intellij idea files
.idea/*
*.class
*.iml
